.container {
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-bottom-style: dashed;
    border-width: 5px;
    border-color: #dfdfdf;
    position: relative;
    animation: showUp 3s ease-in forwards
}

.hashtagContainer {
    width: 81%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px 0px -2% 0px;
    color: #356098;
    font-family: system-ui;
    font-size: 10px;
}

.containerBackground {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.subContainer {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #7691b5;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -18px 20px 20px 10px rgb(53 96 152 / 15%);
    border-radius: 10px;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.textAndContactIconsContainer {
    flex: 0 0 50%;
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.textContainer {
    flex: 0 0 70%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.text1 {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    font-family: system-ui;
    color: white;
    animation: showUp 3s ease-in forwards
}

.text2 {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    font-family: system-ui;
    color: white;
    animation: showUp 3s ease-in forwards
}

.text3 {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    font-family: system-ui;
    color: white;
    animation: showUp 3s ease-in forwards
}

.contactIconsContainer {
    flex: 0 0 12%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 19px;
}

.contactIcon {
    width: 100%;
    position: relative;
    cursor: pointer;
}


.graphicContainer {
    flex: 0 0 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.graphicImg {
    width: 101%;
    height: 143%;
    margin: 0px 0% 0px -1%;

}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}