.container {
    width: 100vw;
    height: calc(100vh - 64px);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.subContainer {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.piecesContainer {
    width: 100%;
    height: 40%;
    position: relative;
    top: 21%;
    right: 21%;
}

.pieceContainer {
    width: 100%;
    height: 100%;
}

.mainContainer {
    flex: 1 1 60%;
    width: 100%;
    height: 100%;
}

.textContainerUpToPuzzle {
    position: absolute;
    top: -5%;
    left: 29%;
    font-size: 100%;
    color: #7794bb;
    font-weight: 600;
    font-family: system-ui;
}

.textContainerDownToPuzzle {
    position: relative;
    top: 67%;
    left: 84%;
    font-size: 100%;
    color: #7794bb;
    font-weight: 600;
    font-family: system-ui;
}

.textContainerDownToPuzzleNumber {
    color: #eb986c;
    font-weight: 900;
    font-family: system-ui;
    font-size: 100%;
}

/* PUZZLE PIECES \START */
/* --------------------------------- */
.puzzlePieceGlassPreview {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0%;
}

/* PUZZLE PIECES 1. */
.puzzlePiece1 {
    position: absolute;
    width: 35%;
    height: 19.8%;
    top: 0%;
    left: -5%;
}

.puzzlePiece1LeftContainer {
    position: absolute;
    top: 11%;
    left: -31%;
    width: 100px;
    height: 79px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece1LeftContainer:hover {
    width: 170px;
    height: 140px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 2. */
.puzzlePiece2 {
    position: absolute;
    width: 32%;
    height: 26.5%;
    top: 0%;
    left: 18%;
}

.puzzlePiece2LeftContainer {
    position: absolute;
    top: -100%;
    left: -31%;
    width: 100px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece2LeftContainer:hover {
    width: 127px;
    height: 140px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 3. */
.puzzlePiece3 {
    position: absolute;
    width: 43%;
    height: 19.5%;
    top: .5%;
    left: 38%;
}

.puzzlePiece3LeftContainer {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 162px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece3LeftContainer:hover {
    width: 220px;
    height: 140px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}



/* PUZZLE PIECES 4. */
.puzzlePiece4 {
    position: absolute;
    width: 28%;
    height: 26.5%;
    top: 0%;
    left: 70%;
}

.puzzlePiece4LeftContainer {
    position: absolute;
    top: -100%;
    left: -60%;
    width: 122px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece4LeftContainer:hover {
    width: 138px;
    height: 158px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}


/* PUZZLE PIECES 5. */
.puzzlePiece5 {
    position: absolute;
    width: 27.3%;
    height: 31%;
    top: 12%;
    left: -5.1%;
}

.puzzlePiece5LeftContainer {
    position: absolute;
    top: -100%;
    left: -60%;
    width: 122px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece5LeftContainer:hover {
    width: 148px;
    height: 199px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 6. */
.puzzlePiece6 {
    position: absolute;
    width: 48%;
    height: 21%;
    top: 17%;
    left: 9.9%;
}

.puzzlePiece6LeftContainer {
    position: absolute;
    top: -80%;
    left: -100%;
    width: 162px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece6LeftContainer:hover {
    width: 266px;
    height: 153px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 7. */
.puzzlePiece7 {
    position: absolute;
    width: 26.6%;
    height: 30.77%;
    top: 12.4%;
    left: 46.5%;
}

.puzzlePiece7RightContainer {
    position: absolute;
    top: -10%;
    left: -60%;
    width: 122px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece7RightContainer:hover {
    width: 153px;
    height: 185px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 8. */
.puzzlePiece8 {
    position: absolute;
    width: 37.6%;
    height: 19.6%;
    top: 18.1%;
    left: 61.7%;
}

.puzzlePiece8RightContainer {
    position: absolute;
    top: -60%;
    left: -80%;
    width: 122px;
    height: 123px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece8RightContainer:hover {
    width: 180px;
    height: 167px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}



/* PUZZLE PIECES 9. */
.puzzlePiece9 {
    position: absolute;
    width: 35.8%;
    height: 21%;
    top: 35.15%;
    left: -4.7%;
}

.puzzlePiece9RightContainer {
    position: absolute;
    top: -100%;
    left: -30%;
    width: 100px;
    height: 103px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece9RightContainer:hover {
    width: 182px;
    height: 140px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}



/* PUZZLE PIECES 10. */
.puzzlePiece10 {
    position: absolute;
    width: 26.7%;
    height: 27.1%;
    top: 28.9%;
    left: 21.2%;
}

.puzzlePiece10RightContainer {
    position: absolute;
    top: -59px;
    width: 127px;
    height: 152px;
    cursor: pointer;
}

.puzzlePiece10RightContainer:hover {
    width: 147px;
    height: 172px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES 11. */
.puzzlePiece11 {
    position: absolute;
    width: 41.8%;
    height: 22.6%;
    top: 34.3%;
    left: 39%;
}

.puzzlePiece11RightContainer {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 120px;
    height: 103px;
    transform: rotateZ(336deg);
    cursor: pointer;
}

.puzzlePiece11RightContainer:hover {
    width: 224px;
    height: 172px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}


/* PUZZLE PIECES 12. */
.puzzlePiece12 {
    position: absolute;
    width: 33.8%;
    height: 27.2%;
    top: 29%;
    left: 67.6%;
}

.puzzlePiece12RightContainer {
    position: absolute;
    left: -19px;
    top: -83px;
    width: 162px;
    height: 152px;
    cursor: pointer;
    transform: rotate(18deg);
}

.puzzlePiece12RightContainer:hover {
    width: 182px;
    height: 172px;
    filter: drop-shadow(-9px 13px 20px rgba(119, 148, 187, 1));
}

/* PUZZLE PIECES \END */
/* --------------------------------- */


.renderPiece_Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.renderPiece_LeftContainer {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.renderPiece_RightContainer {
    flex: 1 1 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.renderPiece_RightUpContainer {
    margin: -40% 0px 12% 0px;
    color: #eb986c;
    font-family: system-ui;
    font-size: 80%;
}

.renderPiece_RightDownContainer {
    font-family: system-ui;
    font-size: 49%;
}