.container {
    width: 100%;
    height: 100%;
    box-shadow: 0px -5px 10px 1px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #7794bb;
  }
  
  .graphicContainer {    
    flex: 0 0 40%;
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: -5% 0px 0px -8%;
  }
  
  .contentContainer {    
    flex: 0 0 60%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .contentSection {    
    width: 100%;
    height: 100%;    
  }
  
  .contentSetionTitle {    
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: system-ui;
    margin: 0px 0px 2% 0%;
    border-bottom: solid;
    margin: 3% 0px 3% 0px;
  }
  
  .contentSetionInfo {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contentSetionInfoKeysAndValues {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .contentSetionInfoKey {
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: system-ui;
    margin: 0px 0px 15px 0%;
  }

  .lineVertical {
    width: 10px;
    height: 28%;
    border-radius: 10px;
    margin: 0px 2% 0px 0px;
    background-color: #fff;
  }
  
  .contentSetionInfoValue {    
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: system-ui;
    margin: 0px 0px 14.5px 0%;
  }

  .usefulLinksContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: -28px 0px 0px 0px;
  }
  