.container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: fadeInBlur 1.5s ease forwards;
}

@keyframes fadeInBlur {
    from {
      opacity: 0.3;
      filter: blur(5px);
    }
    to {
      opacity: 1;
      filter: blur(0); 
    }
  }