.container {    
    width: 100%;
    height: 100%;    
}

.htmlContentSmallImg0 {
    width: 100%;    
    height: 100%;
    cursor: pointer;
}

.htmlContentSmallImg1 {
    width: 118px;
    height: 118px;
    cursor: pointer;
}

.htmlContentSmallImg2 {
    width: 100%;   
    height: 100%; 
    cursor: pointer;
}