.container {
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.sections {
  width: 100%;  
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  background-color: #7794bb;
  align-items: center;
}

.logoSection {
  flex: 1 1 25%;
  margin: 0px 0px 0px 1.5%;
}

.logoImage {
  width: 80px;  
  cursor: pointer;  
}

.logoImage:hover {
  border-bottom: 3px solid #ff9b1f;
}

.pageLinksSection {
  flex: 1 1 55%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}


.pageLink {
  cursor: pointer;
  margin: 0px 1.5vw 0px 0px;
  font-family: system-ui;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.pageLink:hover {
  color: #ff9b1f;
}
.pageLinkActive {
  cursor: pointer;
  margin: 0px 1.5vw 0px 0px;
  font-family: system-ui;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #ff9b1f;
}


.otherIcons {
  flex: 1 1 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 1vw 0px 0px;  
}

.actionIcon {
    
}
.actionIcon img{
  width: 30px;
  margin: 6px 15px 6px 15px;
  cursor: pointer;    
  transition: transform 0.3s; /* Add a smooth transition on hover */
}
.actionIcon:hover{
  border-bottom: 3px solid #f1a951;  
  transform: scale(1.1); /* Increase size on hover */    
}
