.container {
  width: 100vw;
  height: calc(100vh - 64px);
  overflow-x: hidden;
}

.preContainer {
    width: 100vw;
    height: calc(100vh - 64px);
    overflow-x: hidden;
} 

.mainContainer {
    width: 100vw;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    margin: 2% 0px 2% 0px;
}

.postContainer {
  width: 100%;
  height: 50%;
}